html{
    height: 100%;
}

body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    width: 220px;
    height: 220px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

#picture{
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(206, 206, 206);
    padding-right: 40px;
    padding-top: 40px;
    padding-left: 40px;
    margin-bottom: 40px;
    align-items: center;

}
#facts{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 90%;
    padding-left:40px ;
    padding-top:40px ;
    padding-bottom:40px;
    padding-bottom:40px ;
}

#tablestuff {
    display: flex; 
    flex-direction: column;
    flex: 1;
}

#name{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#jobtitle{
    text-align: center;
}



#page{
    display:flex;
    padding-left:40px ;
    padding-top:40px ;
    padding-bottom:40px;
    padding-bottom:40px ;
    flex-grow: 1;
}

.topnav {
    background-color: #ffffff;
    overflow: hidden;
    border-top: 3px solid purple;
    border-bottom: 1px solid grey;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 1rem 0;
    margin: 0;
    padding-bottom: 17px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: center;
    color: #000000;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(117, 3, 255);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #ffffff;
    color: rgb(117, 3, 255);
  }



  footer {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    border-top: 1px  solid  rgba(128, 128, 128, 0.363);
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 3px solid purple;
    transform: translate(0);
}

#picture h1{
    font-size: 25px;
    margin-bottom: 60px;
    font-weight: 100;
    align-items: center;
}

h2{
    margin-top: 0px ;
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 70;
}
#maillink{
    color: rgb(117, 3, 255);
    margin-top: 0px;
    text-decoration: none;
    
}

#resume{
    display: flex;
    margin-top: 200px;
    text-align: left;
    align-content: left;
    justify-content: left;
    width: 50%;
    padding: 0px;
}


#experienceflex{
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 70%;

}

#experienceinnerflexleft{
    display: flex;
    inline-size: 50%;
    flex-direction: column;
    text-align: left;
    width: 50%;
    padding:0px
}
#experienceinnerflexright{
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 50%;
    padding: 0px;
}

#experienceinnerflexleft p{
    inline-size: 50%;
    margin:0px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

#experienceinnerflexright p{
    inline-size: 50%;
    margin:0px;
    padding: 0px;
    margin-block-end: 0px;
    margin-block-start: 0px;
}

#experienceinnerflexleft {
    inline-size: 50%;
    margin:0px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-block-start: 50px;
    
}

#facts td{
    text-align: left;
    padding-right:20px ;
}

.spacing td{
    padding-bottom: 35px;
}

table.alt tbody{
    width: inherit;
}

table.width td{
    width:200px;
}

table.alt td{
    width:80%;
}

td.right{
    inline-size: 200px !important;
}

#alt-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}
#alt-left{
    flex-grow: 1;
    justify-content: left;
    
}
#alt-right{
    flex-grow: 1;
    justify-content: left;
    text-align: right;
}

#title, #date{
    font-size: 24px;
    margin-top: -10px;
    margin-bottom: -8px;
    color: black;
}

#title{
    font-weight: bolder;
    color: black;
}



#progress{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 40px;
}

progress{
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 32px;
}

header{
    font-size: 25px;
    margin-bottom: 60px;
    font-weight: 100;
}

.list{
    padding-bottom: 20px;
}

ul.interestlist li{
    padding-bottom:10px;
}

@media only screen and (max-width: 800px){
    #page{
        flex-direction: column;
        padding-left:40px ;
        padding-top:40px ;
        padding-bottom:40px;
        padding-bottom:40px ;
        flex-grow: 1;
    }   
    header{
        justify-content: center;
        text-align: center;
    }
    #facts{
        justify-content: center;
    }
    #picture{
        margin-bottom: 0;
        padding-bottom: 40px;
        border-right: 0;
        border-bottom: 1px solid grey;
    }
    progress{
        width: 90%;
        padding-left: 0;
    }
}

